# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
env/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log

# Docker
*.log

# OS / editors
.DS_Store
.vscode/
.idea/
